# Terraform working directory
.terraform/
.terraform.lock.hcl

# Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive vars
terraform.tfvars
*.auto.tfvars

# Plan files
*.tfplan
plan.out
plan.txt

# Bootstrap state
bootstrap/terraform.tfstate
bootstrap/terraform.tfstate.*
bootstrap/.terraform/
bootstrap/.terraform.lock.hcl
bootstrap/terraform.tfvars


# IDE
.vscode/
.idea/