{
  "Version": "2019-10-30",
  "StartAction": "cfec4cc1-8e9f-4d39-8549-3b0f8a60a58e",
  "Metadata": {
    "entryPointPosition": {
      "x": 40,
      "y": 40
    },
    "ActionMetadata": {
      "cfec4cc1-8e9f-4d39-8549-3b0f8a60a58e": {
        "position": {
          "x": 161.6,
          "y": 166.4
        },
        "parameters": {
          "Messages": []
        },
        "audio": []
      }
    },
    "Annotations": [],
    "name": "agent_hold_flow",
    "description": "",
    "type": "agentHold",
    "status": "PUBLISHED",
    "hash": {}
  },
  "Actions": [
    {
      "Parameters": {
        "Messages": [
          {
            "Text": "Remember to be curteous to all our customers."
          }
        ],
        "ContinueMessagingDuringInterrupt": "false"
      },
      "Identifier": "cfec4cc1-8e9f-4d39-8549-3b0f8a60a58e",
      "Type": "MessageParticipantIteratively",
      "Transitions": {}
    }
  ]
}
